.container-login {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  height: 100vh!important;
  background: linear-gradient(to right, #0c2269, #4435a5)!important;
}

.card {
  border-radius: 1.7rem!important;

}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover!important;
}
.email :hover{
  color: linear-gradient(to right, #0c2269, #4435a5)!important;

}
.form-control-user:focus {
  border-color: #4435a5 !important;
  box-shadow: 0 0 8px rgba(68, 53, 165, 0.6) !important;
}