@using  Web_KB.Models;
@model LoginViewModel;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_CompteLayout.cshtml";
}

<div class="compte-container">
    <div class="compte-image" aria-hidden="true"></div>

    <div class="compte-box">
        <img class="masthead-avatar mb-5" src="../images/logo.png" alt="..." />
        <h2 class=" mb-5">Se connecter</h2>
        <form asp-action="Login" method="post" ">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label" ></label>
                <input asp-for="Email" class="form-control"  />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="MotDePasse" class="form-label" ></label>
                <input asp-for="MotDePasse" class="form-control" />
                <span asp-validation-for="MotDePasse" class="text-danger"></span>
            </div>
            <div class="float-end">
              <a asp-controller="Compte" asp-action="ChangeMotDePasse" class="text-decoration-none "> Mot de passe oublié ?</a>
            </div>
            <div class="form-check mb-3">
                <label  class="form-check-label">
                    <input asp-for="RemenbreMe" class="form-check-input" />
                    @Html.DisplayNameFor(m => m.RemenbreMe)
                </label>
            </div>
          

            <input id="colorgreen" type="submit" value="Login" class="btn btn-success w-100 p-2" />

            <p class="text-center mt-2 link">
                Vous n'avez pas de compte ? <a asp-controller="Compte" asp-action="Register" class="text-decoration-none">Inscrivez-vous</a>
            </p>
            <div class="text-center">
                <a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3 link">Retour au home</a>
            </div>
        </form>
        <div class="text-center mb-4">

            <span class="divider">OR</span>
        </div>

      
            <a href="/login-google" class="btn btn-google w-100 p-2">
                S'inscrire avec Google
            </a>
      
 
               
    </div>
</div>

            <style>
                #colorgreen {
                    background-color: rgb(32, 124, 106) !important; /* couleur verte */
                }

            </style>